<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="isLoggedIn$ | async" mat-icon-button (click)="toggleSideBar($event)">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Evaluacion Tecnica</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button *ngIf="isLoggedIn$ | async" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
